<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="navbar">
        <div id="logo" class="left-area">
            @Html.ActionLink("OpenDictionary", "Index", "Home", new { area = "" }, null)
        </div>
        <div id="search-form" class="left-area">
            <form method="get">
                <input type="search" name="searchTerm" />
                <input type="submit" value="Search" />
            </form>
        </div>
        <div id="navbar-menu" class="right-area">
            <ul>
                <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
            </ul>
        </div>
    </div>
    <div id="container">
        <div id="content">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - OpenDictionary</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
